.figtree-100 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.figtree-200 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.figtree-300 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.figtree-400 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.figtree-500 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.figtree-600 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.figtree-700 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.figtree-800 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.figtree-900 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.tab-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.tab-buttons {
  display: flex;
  border-bottom: 1px solid #ccc;
}
.tab-button {
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.tab-button.active {
  background-color: #fff;
  border-bottom: 2px solid #111;
}
.tab-content {
  display: none;
  padding: 20px;
  background-color: #fff;
}
.tab-content.active {
  display: block;
}

.video-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #11111110;
  border-radius: 10px;
  cursor: pointer;
}

.video-item:hover,
.video-item.active {
  background: #1f2937;
  color: white;
}

.video-item:hover svg,
.video-item.active svg {
  color: white;
}

.video-item:hover .font-medium {
  color: white;
}

.video-item:hover p {
  color: #d1d5db;
}

.course-link:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

#progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-top: 10px;
}

#progress-bar {
  height: 20px;
  background-color: #4caf50;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}

.mark-complete-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.mark-complete-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  /* Add mobile-specific styles here */
  #modules-container {
    margin-bottom: 20px;
  }

  #mobile-c {
    display: none;
  }

  #video-container,
  #info-container {
    margin-top: 20px;
  }
}